# Compiled object files
*.o

# Intermediate objects
*.elf
*.plf

# Debug information
*.str

# Compiled files
*.dol
*.rel

# Generated linker command files
bin/*.lcf

# Executables
*.exe

# Compilers
compilers/

# Python cache/compiled modules
*.pyc
__pycache__/
/env/
.venv
