html {
	/* Replace primary colors */
    --primary-color: #be3232 !important;
    --primary-dark-color: #af2828 !important;
    --primary-light-color: #e34141 !important;

    /* Replace note colors */
    --warning-color-dark: #cd830d;
    --invariant-color-dark: #238636;

    /* Replace source code colors */
    --fragment-comment: #6c747f;
    --fragment-keyword: #d12c37;
    --fragment-keywordtype: #6b3fbc;
    --fragment-keywordflow: #d12c37;
    --fragment-preprocessor: var(--fragment-comment);
    --fragment-link: #1d61b6;
    --fragment-token: var(--page-foreground-color);
}

html.dark-mode {

    /* Replace fragment background with a less colorful version */
    --fragment-background: var(--code-background);

    /* Replace note colors */
    --bug-color-dark: #e34141;
    --todo-color-dark: #9c88ff;
    --invariant-color-dark: #238636;

    /* Replace source code colors */
    --fragment-keyword: #e87169;
    --fragment-keywordtype: #c9a1f5;
    --fragment-keywordflow: #e87169;
    --fragment-preprocessor: var(--fragment-comment);
    --fragment-link: #76bcf9;
    --fragment-token: var(--page-foreground-color);
}

@media (prefers-color-scheme: dark) {
    html:not(.light-mode) {

        /* Replace fragment background with a less colorful version */
        --fragment-background: var(--code-background);

        /* Replace note colors */
        --bug-color-dark: #e34141;
        --todo-color-dark: #9c88ff;
        --invariant-color-dark: #238636;

        /* Replace source code colors */
        --fragment-keyword: #e87169;
        --fragment-keywordtype: #c9a1f5;
        --fragment-keywordflow: #e87169;
        --fragment-preprocessor: var(--fragment-comment);
        --fragment-link: #76bcf9;
        --fragment-token: var(--page-foreground-color);
    }
}

/* Make links brighter  */
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: var(--primary-light-color) !important;
}

/* Use darker primary color for hovered/active/focused top menu buttons */
.sm-dox ul a:hover,
.sm-dox ul a:active,
.sm-dox ul a:focus,
.sm-dox a:hover,
.sm-dox a:active,
.tablist li a:hover {
    background-color: var(--primary-dark-color);
}

/* Change directory level numbers color */
.directory .levels span {
    color: var(--primary-light-color);
}

/* Add border to cell descriptions (left) */
td.mdescLeft {
    border-left: 1px solid var(--separator-color) !important;
    border-bottom: 1px solid var(--separator-color) !important;
}

/* Add border to cell descriptions (right) */
td.mdescRight {
    border-right: 1px solid var(--separator-color) !important;
    border-bottom: 1px solid var(--separator-color) !important;
}

/* Remove unnecessary padding on definitions in desktop mode */
@media screen and (min-width: 767px) {
    table.memberdecls .memItemLeft,
    table.memberdecls .memTemplItemLeft {
        padding-right: 0px;
    }
}

/* Change template keyword color */
td.memTemplParams,
div.memtemplate {
    color: var(--page-foreground-color) !important;
}

/* Reduce padding between definitions */
table.memberdecls .memSeparator {
    height: var(--spacing-small);
}

/* Remove nav-sync button */
#nav-sync {
    display: none;
}

/* Remove padding above paragraphs */
h2.groupheader {
    margin-top: 0px !important;
    margin-bottom: var(--spacing-medium) !important;
}

/* Remove "Definition at line XXX" */
p.definition {
    display: none;
}

/* Remove padding in page title */
div.header .title {
    padding: 0 var(--spacing-large);
}

/* Remove colors on dark mode directories/files */
html.dark-mode .folder-icon {
    filter: saturate(0) !important;
}

/* Remove open folder graphic */
.folder-icon.open::after {
    opacity: 0;
}

/* Fix padding on inherit dropdowns */
table.memberdecls .inherit_header td {
    padding: var(--spacing-medium) 0px 0px var(--spacing-medium);
}

/* Remove padding at the start of lists */
div.textblock p {
    margin-bottom: 0px;
}

/* Remove padding at the start of lists */
div.contents > ul,
div.textblock ul {
    margin-top: 0px;
}

/* Reduce padding before bullet points */
ul {
    padding-left: 25px;
}

/* Fix parameter name colors */
.paramname em {
    color: var(--page-foreground-color);
}

/* Fix parameter ending brace color */
.paramname {
    color: var(--page-foreground-color);
    font-weight: normal;
}

/* Change color of copy to clipboard success button */
doxygen-awesome-fragment-copy-button.success svg {
    fill: var(--primary-light-color) !important;
}

/* Change color of copy to clipboard success button */
doxygen-awesome-fragment-copy-button.success {
    border-color: var(--primary-light-color) !important;
}

/* Give custom color to custom bubbles */
span.customlabel {
    background-color: var(--deprecated-color-dark) !important;
}

/* Give custom notes the proper style */
.markdown-alert {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-left: .35em solid;
}

.markdown-alert > :first-child {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-alert-title {
    display: flex;
    font-weight: 500;
    align-items: center;
}

.markdown-alert-icon {
    margin-right: 8px !important;
    fill: currentColor;
}

.markdown-alert > :last-child {
    margin-top: 5px;
    margin-bottom: 0;
}

.markdown-alert.markdown-alert-todo {
    border-left-color: var(--todo-color-dark);
}

.markdown-alert.markdown-alert-todo .markdown-alert-title {
    color: var(--todo-color-dark);
}

.markdown-alert.markdown-alert-todo .markdown-alert-title a {
    color: var(--todo-color-dark) !important;
}

.markdown-alert.markdown-alert-warning {
    border-left-color: var(--warning-color-dark);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: var(--warning-color-dark);
}

.markdown-alert.markdown-alert-bug {
    border-left-color: var(--bug-color-dark);
}

.markdown-alert.markdown-alert-bug .markdown-alert-title {
    color: var(--bug-color-dark);
}

.markdown-alert.markdown-alert-bug .markdown-alert-title a {
    color: var(--bug-color-dark) !important;
}

.markdown-alert.markdown-alert-note {
    border-left-color: var(--note-color-dark);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
    color: var(--note-color-dark);
}

.markdown-alert.markdown-alert-hint {
    border-left-color: var(--invariant-color-dark);
}

.markdown-alert.markdown-alert-hint .markdown-alert-title {
    color: var(--invariant-color-dark);
}

.markdown-alert.markdown-alert-decompnote {
    border-left-color: var(--deprecated-color-dark);
}

.markdown-alert.markdown-alert-decompnote .markdown-alert-title {
    color: var(--deprecated-color-dark);
}

/* Remove border radius from various places */
table.fieldtable,
table.markdownTable tbody,
table.doxtable tbody,
div.memproto,
h2.memtitle,
div.memitem,
dl.reflist,
th[class^="markdownTableHead"]:first-child,
th[class^="markdownTableHead"]:last-child,
table.doxtable tr th:first-child,
table.doxtable tr th:last-child,
.fieldtable th,
td.memItemLeft,
td.memItemRight,
td.memTemplParams,
td.memTemplItemLeft,
td.memTemplItemRight,
td.mdescLeft,
td.mdescRight {
    border-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/* Hide unnecessary template definition */
.compoundTemplParams {
    display: none;
}

/* Restore underline on link hover */
a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

/* However keep it for code line numbers */
div.fragment span.lineno a {
    text-decoration: none;
}

/* Fix overload font */
.overload {
    font-family: var(--font-family-monospace);
}

/* Fix permalink alignment */
h2.memtitle > span.permalink > a {
    margin-top: 0px;
}

/* Disable sticky TOC */
div.contents .toc {
    position: unset;
    max-height: unset;
}

/* Remove summary */
div.header .summary {
    display: none;
}

/* Add margin to TOC for mobile and reduce border radius */
@media screen and (max-width: 999px) {
    div.contents .toc.interactive {
        margin-top: 20px;
    }

    div.contents .toc {
        border-radius: var(--border-radius-small);
    }
}

/* Reduce border radius on search results window */
#MSearchResultsWindow {
    border-radius: var(--border-radius-small);
}

/* Fix search result font */
.SRSymbol, a.SRScope {
    font-family: inherit;
}

/* Fix search result font */
.SRPage .SRStatus {
    font-family: inherit;
    font-size: 10pt;
    font-style: unset;
    padding: var(--spacing-small) var(--spacing-medium);
}

/* Fix unnecessary border on folder table */
.directory td.desc {
    border-left: none;
}

/* Improve code folding style */
span.lineno {
    background: none !important;
    width: 48px !important;
    margin-right: var(--spacing-medium) !important;
}

#fold_all.minus,
.foldopen span.fold[onclick] {
    --open-svg: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%0A%20%20%3Cpath%20d%3D%22M12.78%205.22a.749.749%200%200%201%200%201.06l-4.25%204.25a.749.749%200%200%201-1.06%200L3.22%206.28a.749.749%200%201%201%201.06-1.06L8%208.939l3.72-3.719a.749.749%200%200%201%201.06%200Z%22%2F%3E%0A%3C%2Fsvg%3E");
    background-color: var(--page-foreground-color);
    -webkit-mask: var(--open-svg) no-repeat center;
    mask: var(--open-svg) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

#fold_all.plus,
.foldclosed span.fold[onclick] {
    --closed-svg: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20d%3D%22M6.22%203.22a.75.75%200%200%201%201.06%200l4.25%204.25a.75.75%200%200%201%200%201.06l-4.25%204.25a.751.751%200%200%201-1.042-.018.751.751%200%200%201-.018-1.042L9.94%208%206.22%204.28a.75.75%200%200%201%200-1.06Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-color: var(--page-foreground-color);
    -webkit-mask: var(--closed-svg) no-repeat center;
    mask: var(--closed-svg) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

span.fold.plus::before,
span.fold.minus::before,
span.fold.plus::after {
    background: transparent;
}

/* Improve code tooltip style */
#powerTip {
    box-shadow: var(--box-shadow);
    background-color: var(--side-nav-background);
    border: 1px solid var(--separator-color);
    opacity: 1;
    color: var(--page-foreground-color);
}

#powerTip div {
    font-family: var(--font-family);
}

#powerTip div.ttdoc {
    color: var(--page-foreground-color);
    font-style: unset;
}

#powerTip div.ttdeci {
    color: var(--page-secondary-foreground-color);
    font-style: italic;
}

#powerTip a {
    font-weight: 500 !important;
}

#powerTip.n:after,  #powerTip.s:after,
#powerTip.w:after,  #powerTip.e:after,
#powerTip.nw:after, #powerTip.ne:after,
#powerTip.sw:after, #powerTip.se:after,
#powerTip.n:before,  #powerTip.s:before,
#powerTip.w:before,  #powerTip.e:before,
#powerTip.nw:before, #powerTip.ne:before,
#powerTip.sw:before, #powerTip.se:before {
	display: none;
}

/* Use a less jarring color for line highlight */
div.line.glow {
    background-color: var(--primary-dark-color);
}

/* Remove glow shadow */
h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {
    text-shadow: none;
}

/* Make placeholder search bar text more visible */
#MSearchField {
    color: var(--page-foreground-color);
}

/* Parameter table styles */
table.paramtable {
    text-align: center;
}

table.paramtable td {
    width: 25px;
}

td.param-name {
    font-size: 11pt;
}

td.param-empty {
    background-color: var(--side-nav-background);
}

td.param-inherit {
    background-image: linear-gradient(-45deg,
        rgba(255, 255, 255, 0.1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0.1) 75%,
        transparent 75%,
        transparent 100%
    );
    background-size: 15px 15px;
}

/* Fix footer */
#nav-path li.navelem:has(.el)::after {
    display: none;
}

#nav-path li.navelem:has(.el)::before {
    content: '>';
    border: none;
    transform: scaleY(6) scaleX(0.7) translateY(-1.5px);
    color: var(--separator-color);
    font-family: var(--font-family);
}

#nav-path li.navelem:hover {
    background: transparent;
}

#nav-path li.navelem {
    padding-left: 0px;
}

.navpath li.navelem a {
    margin-right: 10px;
    color: var(--primary-light-color) !important;
}

/* Undo bold list entries */
table.directory td.entry,
.memItemRight b {
    font-weight: lighter;
}

/* Fix TOC line height */
div.toc li {
    line-height: 16px;
}

/* Remove reference icons */
.icona {
    display: none;
}
