html {
	/* Replace primary colors */
    --primary-color: #be3232 !important;
    --primary-dark-color: #af2828 !important;
    --primary-light-color: #e34141 !important;

    /* Use todo color for invariant color */
    --invariant-color: #e4f3ff !important;
    --invariant-color-dark: #1879C4 !important;
    --invariant-color-darker: #274a5c !important;

	/* Use warning color for bug color */
    --bug-color: var(--warning-color) !important;
    --bug-color-dark: var(--warning-color-dark) !important;
    --bug-color-darker: var(--warning-color-darker) !important;

	/* Use deprecated color for note color */
    --note-color: var(--deprecated-color) !important;
    --note-color-dark: var(--deprecated-color-dark) !important;
    --note-color-darker: var(--deprecated-color-darker) !important;

	/* Use deprecated color for todo color */
    --todo-color: var(--deprecated-color) !important;
    --todo-color-dark: var(--deprecated-color-dark) !important;
    --todo-color-darker: var(--deprecated-color-darker) !important;
}

@media (prefers-color-scheme: dark) {
    html:not(.light-mode) {

        /* Use todo color for invariant color (dark mode) */
        --invariant-color: #163750 !important;
        --invariant-color-dark: #1982D2 !important;
        --invariant-color-darker: #dcf0fa !important;
    }
}

/* Make links brighter  */
a:link, a:visited, a:hover, a:focus, a:active {
    color: var(--primary-light-color) !important;
}

/* Remove the ugly hover shadow on the bottom navigator and replace it with underline */
.navpath li.navelem a:hover {
    text-shadow: none !important;
    text-decoration-line: underline !important;
}

/* Use darker primary color for hovered/active/focused top menu buttons */
.sm-dox ul a:hover, .sm-dox ul a:active, .sm-dox ul a:focus, .sm-dox a:hover, .sm-dox a:active, .tablist li a:hover {
    background-color: var(--primary-dark-color) !important;
}

/* Change directory level numbers color */
.directory .levels span {
    color: var(--primary-light-color) !important;
}

/* Change prototype color */
h2.memtitle, h2.memtitle:after, div.memproto {
    background: var(--code-background) !important;
}

/* Add border to cell descriptions (left) */
td.mdescLeft {
    border-left: 1px solid var(--separator-color);
    border-bottom: 1px solid var(--separator-color);
}

/* Add border to cell descriptions (right) */
td.mdescRight {
    border-right: 1px solid var(--separator-color);
    border-bottom: 1px solid var(--separator-color);
}

/* Remove border radius on definitions and use a less colorful background */
td.memItemLeft, td.memItemRight, td.memTemplParams, td.memTemplItemLeft, td.memTemplItemRight {
    border-radius: 0px !important;
    padding-right: 0px !important;
    background-color: var(--code-background) !important;
}

/* Change template keyword color */
td.memTemplParams, div.memtemplate {
    color: var(--page-foreground-color) !important;
}

/* Remove table cell separator */
td.memSeparator {
    display: none;
}

/* Add short padding between table rows */
tr[class*="memdesc"] {
    transform: translateY(-4px) !important;
}

/* Remove nav-sync button */
#nav-sync {
    display: none;
}

/* Remove padding above paragraphs */
h2.groupheader {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Remove "Definition at line XXX" */
p.definition {
    display: none;
}

/* Remove padding in page title */
div.headertitle {
    margin-top: -20px;
    margin-bottom: -10px;
}

/* Remove colors on dark mode directories/files */
html.dark-mode .icondoc, html.dark-mode .iconfopen, html.dark-mode .iconfclosed {
    filter: saturate(0) !important;
}

/* Disable color inversion on menu arrows and restore it on light mode files */
html.dark-mode img[src="closed.png"], html.dark-mode img[src="open.png"], .icondoc {
    filter: none !important;
}

/* Restore padding on inherit dropdowns */
table.memberdecls .inherit_header td {
    padding: 6px 0px 2px 5px !important;
}

/* Reduce bottom margin to counter the above padding */
table.memberdecls .groupheader {
    margin-bottom: var(--spacing-medium) !important;
}

/* Remove padding at the start of lists */
div.contents > p, div.textblock p {
  margin-bottom: 0px;
}

/* Remove padding at the start of lists */
div.contents > ul, div.textblock ul {
  margin-top: 0px;
}
